@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans[wght].ttf");
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  width: 100%;
  font-family: "Plus Jakarta Sans" !important;
}

@layer base {
  body {
    @apply text-gray-900 selection:bg-orange-100 selection:text-ophthall-orange;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}